.errorContainer {
    height: 100%;
    width: 100%;
    background: #f7f7f7;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.errorContainer > p {
    margin: 0 8px;
}

.errorContainer > p:first-child {
    font-weight: bold;
    font-size: 3rem;
}

.errorContainer > img {
    height: 400px;
    width: 300px;
}

.errorStatus {
    font-weight: bold;
    font-size: 10rem;
}

@media (max-width: 1280px) {
    .errorContainer {
       flex-direction: column;
    }
}